/* login.css */

.login-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: row-reverse;
  }
  
  .login-form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff; /* White background for the form */
    padding: 20px;
  }
  
  .background-image {
    flex: 1;
    background-image: url('https://res.cloudinary.com/dcrupowic/image/upload/v1723350800/undraw_With_love_re_1q3m_s4dipj.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  /* Custom button styles */
  .btn-primary {
    background-color: rgb(108,99,255); /* Replace with your desired color */
    border-color: rgb(108,99,255); /* Replace with your desired border color */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    border-radius: 5px; /* Rounded corners */
    border: none; /* Remove default border */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .btn-primary:hover {
    background-color: #0056b3; /* Darker color for hover effect */
    border-color: #004085; /* Darker border color for hover effect */
  }
  
  .btn-primary:focus, .btn-primary:active {
    outline: none; /* Remove outline on focus */
    box-shadow: none; /* Remove shadow on focus */
  }