<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://th.bing.com/th/id/OIP.fGbtLh7QYNd4_TuIqPB9_QHaHa?rs=1&pid=ImgDetMain">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
	<title>Health App | Heart Disease Prediction</title>
</head>
<style>
  *{
  margin:0;
  padding:0;
  font-family: 'Josefin Sans', sans-serif;
  }
  html,
  body,
  header,
  #intro {
  height: 100%;
  }
  img {
  display: block;
  max-width: 100%;
  height: auto;
  }
  </style>
<body>

	<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="#"><b>Health App</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Get Started</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/disindex">Disease Index</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cancer">Breast Cancer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/diabetes">Diabetes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/heart">Heart Disease</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/kidney">Kidney Disease</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/liver">Liver Disease</a>
                    </li>
                    <li class="nav-item">
		                <a class="nav-link" href="#">|</a>
		            </li>
                    <li class="nav-item">
		                <a class="nav-link" href="/logout">Logout</a>
		            </li>
                    </ul>
                </div>
            </nav>
    
    <div id="intro" class="container-fluid view ">
      <h1 class="text-center text-capitalize pt-5">Know your chances of getting a heart disease in one Click!</h1>
      <hr class="w-75 mx-auto pt-5">
      <div class="row mb-5">
        <div class="col-lg-6 col-md-6 col-12 my-auto">
          <img src="https://scx2.b-cdn.net/gfx/news/2019/hearthealth.jpg" class="float-left">
          
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <form action="{{ url_for('predictheart')}}" method="post">
            <div class="form-group">
              <label for="cp">Chest Pain Type</label>
              <select class="form-control" id="cp" name = "cp" required="required" placeholder="Chest Pain Type">
                <option value="1">Typical Angina</option>
                <option value="2">Atypical Angina</option>
                <option value="3">Non-Anginal Pain</option>
                <option value="4">Asymptomatic</option>
              </select>
            </div>

            <div class="form-group">
              <!-- TODO : Year to accept only year date picker -->
              <label for="trestbps">Resting Blood Pressure (in mm Hg)</label>
              <input class="form-control" type="number" id="trestbps" name="trestbps" required="required" placeholder="Resting Blood Pressure">
            </div>

            <div class="form-group">
              <label for="chol">Serum Cholestoral in mg/dl</label>
              <input class="form-control" type="number" step="any" id="chol" name="chol" required="required" placeholder="Serum Cholestoral">
            </div>

            <div class="form-group">
              <label for="fbs">Fasting Blood Sugar</label>
              <select class="form-control" id="fbs" name = "fbs" required="required" placeholder="Fasting Blood Sugar">
                <option value="0">Fasting Blood Sugar < 120 mg/dl</option>
                <option value="1">Fasting Blood Sugar > 120 mg/dl</option>
              </select>
            </div>

            <div class="form-group">
              <label for="restecg">Resting Electro-cardiographic Result</label>
              <select class="form-control" type="number" id="restecg" name="restecg" required="required" placeholder="Resting Electro-cardiographic Result">
              <option value="0">Normal</option>
              <option value="1">having ST-T wave abnormality</option>
              <option value="2">showing probable or definite left ventricular hypertrophy</option>
            </select>
            </div>
            
            <div class="form-group">
              <label for="thalach">Maximum Heart Rate Achieved</label>
              <input class="form-control" id="thalach" name = "thalach" required="required" >
            </div>

            <div class="form-group">
              <label for="exang">Exercise Induced Angina</label>
              <select class="form-control" id="exang" name = "exang" required="required" >
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
            </div>
            <button type="submit" class="btn btn-danger">Predict</button>
          </form>
        </div>
      </div>
    </div>
    <!--/.Mask-->
  </header>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
