<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://th.bing.com/th/id/OIP.fGbtLh7QYNd4_TuIqPB9_QHaHa?rs=1&pid=ImgDetMain">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
	<title>Health App | Liver Disease Prediction</title>
</head>
<style>
*{
    margin:0;
    padding:0;
    font-family: 'Josefin Sans', sans-serif;
    }
    html,
    body,
    header,
    #intro {
    height: 100%;
    }
    img {
    display: block;
    max-width: 100%;
    height: auto;
    }
</style>
<body>

	<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="#"><b>Health App</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Get Started</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/disindex">Disease Index</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cancer">Breast Cancer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/diabetes">Diabetes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/heart">Heart Disease</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/kidney">Kidney Disease</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/liver">Liver Disease</a>
                    </li>
                    <li class="nav-item">
		                <a class="nav-link" href="#">|</a>
		            </li>
                    <li class="nav-item">
		                <a class="nav-link" href="/logout">Logout</a>
		            </li>
                    </ul>
                </div>
            </nav>
            <div id="intro" class="container-fluid view ">
                <h1 class="text-center text-capitalize pt-5">Know your chances of getting a liver disease in one Click!</h1>
                <hr class="w-75 mx-auto pt-5">
                <div class="row mb-5">
                  <div class="col-lg-6 col-md-6 col-12 my-auto">
                    <img src="../static/img/liver.jpg" class="float-left">
                    
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <form action="{{ url_for('predictliver')}}" method="post">
                      <div class="form-group">
                        <!-- TODO : Year to accept only year date picker -->
                        <label for="Total Bilirubin">Total Bilirubin</label>
                        <input class="form-control" type="number" id="Total Bilirubin" name="Total Bilirubin" required="required" placeholder="Enter the Total Bilirubin">
                      </div>
                      <div class="form-group">
                        <label for="Direct_Bilirubin">Direct Bilirubin</label>
                        <input class="form-control" type="number" step="any" id="Direct_Bilirubin" name="Direct_Bilirubin" required="required" placeholder="Enter the Direct_Bilirubin">
                      </div>
                      <div class="form-group">
                        <label for="Alkaline_Phosphotase">Alkaline Phosphotase</label>
                        <input class="form-control" type="number" id="Alkaline_Phosphotase" name="Alkaline_Phosphotase" required="required" placeholder="Enter the Alkaline Phosphotase">
                      </div>
                      <div class="form-group">
                        <label for="Alamine_Aminotransferase">Alamine Aminotransferase</label>
                        <input class="form-control" type="number" id="Alamine_Aminotransferase" name="Alamine_Aminotransferase" required="required" placeholder="Enter the Alamine Aminotransferase">
                      </div>
                      <div class="form-group">
                        <label for="Total_Protiens">Total Protiens</label>
                        <input class="form-control" type="number" id="Total_Protiens" name="Total_Protiens" required="required" placeholder="Enter the Total Protiens">
                      </div>
                      <div class="form-group">
                        <label for="Albumin">Albumin</label>
                        <input class="form-control" type="number" id="Albumin" name="Albumin" required="required" placeholder="Enter the Albumin">
                      </div>
                      <div class="form-group">
                        <label for="Albumin_and_Globulin_Ratio">Albumin and Globulin Ratio</label>
                        <input class="form-control" type="number" id="Albumin_and_Globulin_Ratio" name="Albumin_and_Globulin_Ratio" required="required" placeholder="Enter the Albumin and Globulin Ratio">
                      </div>           
                      <button type="submit" class="btn btn-danger">Predict</button>
                    </form>
                  </div>
                </div>
              </div>
              <!--/.Mask-->
            </header>
            <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
